{% extends 'base.html' %}

{% block title %}
    {{ blog_item.title }}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-6">
    {% if blog_item %}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
        {% if blog_item.image %}
      <img src="{{ blog_item.image.url }}" class="img-fluid rounded-start" alt="...">
        {% else %}
            <img src="https://adukar.com/images/photo/psycho-sorry-word-in-programming-code-picjumbo-com.jpg" alt="" class="img-fluid rounded-start">
        {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ blog_item.name }}</h5>
        <p class="card-text">{{ blog_item.content }}</p>
        <p class="card-text"><small class="text-muted">{{ blog_item.author }}</small></p>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">{{ blog_item.category }}</li>
              <li class="list-group-item">{{ blog_item.created_at }}</li>
              <li class="list-group-item">Просмотров: {{ blog_item.views }}</li>
          </ul>
      </div>
    </div>
  </div>
</div>
    {% else %}
        {{ "Нет публикации "}}
    {% endif %}
  {% endblock %}
